:root {
  --picker-border: 2px;
  --picker-padding: 5px;
  --picker-width: 375px;
  --picker-cells-gap-x: 4px;
  --picker-cells-gap-y: 5px;
}

.flatpickr-calendar {
  border-radius: 9px;
  border: var(--picker-border) solid #1ea0ff;
  box-shadow: none !important;
  background: #232c4b;
  height: auto;
  width: auto;
  max-width: unset !important;
  max-height: unset !important;
}
.flatpickr-calendar::before, .flatpickr-calendar::after {
  display: none;
}

.flatpickr-months {
  position: relative;
  margin: 14px 16px 6px;
}

.flatpickr-current-month .numInput.cur-year {
  color: #fff;
  font-family: "Rubik";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 141.176% */
  letter-spacing: -0.43px;
}

.numInputWrapper .arrowUp {
  transition: all 0.3s ease;
}
.numInputWrapper .arrowUp::after {
  border-bottom-color: #fff !important;
}
.numInputWrapper .arrowUp:hover::after {
  border-bottom-color: #0084ff !important;
}
.numInputWrapper .arrowDown {
  transition: all 0.3s ease;
}
.numInputWrapper .arrowDown::after {
  border-top-color: #fff !important;
}
.numInputWrapper .arrowDown:hover::after {
  border-top-color: #0084ff !important;
}

.flatpickr-next-month svg,
.flatpickr-prev-month svg {
  fill: #fff;
}
.flatpickr-next-month:hover svg,
.flatpickr-prev-month:hover svg {
  fill: #0084ff !important;
}

.flatpickr-weekdays {
  height: auto;
  margin: 0 0 10px;
}

.flatpickr-rContainer {
  padding: var(--picker-padding);
  width: var(--picker-width);
}
.flatpickr-rContainer .flatpickr-days {
  width: 100%;
}
.flatpickr-rContainer .dayContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  -moz-column-gap: var(--picker-cells-gap-x);
       column-gap: var(--picker-cells-gap-x);
  row-gap: var(--picker-cells-gap-y);
  max-width: 100%;
  width: 100%;
}

.flatpickr-weekdaycontainer .flatpickr-weekday {
  color: rgba(235, 235, 245, 0.3);
  font-family: "Rubik";
  font-size: 11px;
  font-weight: 500;
  line-height: 18px; /* 163.636% */
  text-transform: uppercase;
}

.flatpickr-day {
  color: #fff;
  font-family: "Rubik";
  font-size: 17px;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
  text-transform: uppercase;
  max-width: unset;
  position: relative;
  width: calc((var(--picker-width) - (var(--picker-padding) * 2 + var(--picker-border) * 2 + var(--picker-cells-gap-x) * 6)) / 7);
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  border: 0 !important;
}
.flatpickr-day:hover {
  background-color: unset !important;
  color: #0084ff;
}
.flatpickr-day.inRange {
  background: none !important;
  border: none;
  box-shadow: none;
  border-radius: none;
}
.flatpickr-day.inRange::before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 50%;
  left: 50%;
  box-shadow: -15px 0 0 #485890, 15px 0 0 #485890;
  height: 36px;
  aspect-ratio: 1;
  transform: translate(-50%, -50%);
  background-color: #485890;
}
.flatpickr-day:nth-child(7n-6).inRange::before {
  left: 38%;
  box-shadow: 0 0 0 transparent, 15px 0 0 #485890;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.flatpickr-day:nth-child(7n).inRange::before {
  left: 62%;
  box-shadow: -15px 0 0 #485890;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.flatpickr-day.endRange {
  background-color: unset;
  border-radius: 0 !important;
  font-size: 24px;
  color: #1ea0ff;
  box-shadow: none !important;
}
.flatpickr-day.endRange::before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 50%;
  right: 50%;
  width: 100%;
  box-shadow: -5px 0 0 #485890, 5px 0 0 #485890;
  height: 36px;
  transform: translateY(-50%);
  background-color: #485890;
}
.flatpickr-day.endRange::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #364579;
  transition: all 0.3s ease;
}
.flatpickr-day.endRange:hover {
  background-color: unset;
}
.flatpickr-day.endRange:hover::after {
  transform: translate(-50%, -50%) scale(1.2);
}
.flatpickr-day.startRange {
  background-color: unset !important;
  border-radius: 0 !important;
  font-size: 24px;
}
.flatpickr-day.startRange::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 100%;
  box-shadow: -5px 0 0 #485890, 5px 0 0 #485890;
  height: 36px;
  transform: translateY(-50%);
  background-color: #485890;
}
.flatpickr-day.startRange::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #1ea0ff;
  transition: all 0.3s ease;
}
.flatpickr-day.startRange:hover {
  background-color: unset;
}
.flatpickr-day.startRange:hover::after {
  transform: translate(-50%, -50%) scale(1.2);
}
.flatpickr-day.nextMonthDay {
  opacity: 0;
  visibility: hidden;
}
.flatpickr-day.today {
  color: #0084ff;
}